.user_container div {
  width: 250px;
  background-color: azure;
  border-radius: 6px;
  border: 1px solid gray;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.user_container {
  margin-bottom: 30px;
}

.selected_value {
  background-color: bisque;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 10px;
  margin-top: 20px;
}

body {
  font-family: sans-serif;
}

.tic_tac_toe_container {
  max-width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.board_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid grey;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: white;
}

.reset-button {
  padding: 5px 10px;
}